.hero{
width: 100%;
height: 70vh;
background: linear-gradient(90deg, rgba(32,236,77,1) 5%, rgba(21,165,60,1) 50%);
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.heroAboutus{
    font-family:fantasy;
    color: rgba(240, 248, 255, 0.842);
    font-size: 55px;
    margin-left: 4rem;
    margin-top: 5rem;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.37);

}
.heroAboutus2{
    color: rgba(255, 255, 255, 0.877);
    font-family:cursive;
    font-size: 18px;
    margin-top: 2rem;
    margin-left: 4rem;
}
#bgheroimg{
    height: 75vh;
    width: 65%;
    margin-top: -2.4rem;
}
.buttonshero{
    display: flex;
    flex-direction: row;
    margin-top: -3rem;
    justify-content: center;
}
.btnhero{
    height: 14%;
    width: 12%;
    margin-left: 3rem;
    border: none;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.301);
}
.btnhero:hover{
    background-color: #8AE38C;
}
.imgbtn{
    height: 100%;
    width: 100%;
}
@media(max-width: 1030px){
    .heroAboutus{
        font-size: 40px;
    }
    #bgheroimg{
        height: 70vh;
        width: 55%;
        margin-top: .1rem;
    }
    .heroAboutus2{
            font-size: 18px;
    }
    .buttonshero{
        margin-top: -2.5rem;
    }
    .btnhero{
        height: 12%;
        width: 13%;
        margin-left: 1.5rem;
    }
    
}
@media  (max-width: 799px){
.heroAboutus{
    font-size: 30px;
}
#bgheroimg{
    height: 70vh;
    width: 55%;
    margin-top: .1rem;
}
.heroAboutus2{
        font-size: 15px;
    }
.buttonshero{
    margin-top: -2rem;
}
.btnhero{
        height: 12%;
        width: 12%;
        margin-left: 1.5rem;
    }
    
}
@media (max-width:566px){
    .hero{
        flex-direction: column;
        align-items: flex-end;
    }
    #herotext{
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .heroAboutus{
        font-size: 20px;
        margin-left: 1rem;
    }
    .heroAboutus2{
        font-size: 15px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #bgheroimg{
        width: 85%;
        height: 40vh;
    } 
    .btnhero{
        height: 12%;
        width: 12%;
        margin-left: 1rem;
    } 
    .buttonshero{
        margin-top: -1rem;
    }
    .btnhero{
        height: 12%;
        width: 12%;
        margin-left: 1rem;
    }
}    
@media (max-width:385px){
    .hero{
        flex-direction: column;
        align-items: flex-end;
    }
    #herotext{
        display: flex;
        flex-direction: column;
        
    }
    .heroAboutus{
        font-size: 20px;
        margin-left: 1rem;
    }
    .heroAboutus2{
        font-size: 12px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #bgheroimg{
        width: 85%;
        height: 45vh;
    }
    .buttonshero{
        margin-top: -1rem;
    }
    .btnhero{
        height: 14%;
        width: 14%;
        margin-left: .5rem;
    }
    
}