* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-main {
  background: #8ae38b7e;
  width: 100%;
  height: 100vh;
}

.home-main h1 {
  color: #39d03b;
  text-shadow: 2px 2px 4px rgb(1, 54, 1);
}
