.review-rating {
  color: #fff;
}

.user-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-name {
  color: #fff;
}

.send, .delete, .edit {
  background-color: #fff;
  color: #000;
}

.user-name {
  color: #000000;
}

.review-text {
  color: #6b6b6b;

}

.review-rating {
  color: #000000;
}
