.card-container{
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.service-name{
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}