.worker-card{
  width: 100%;
  height: 400px;
  background-color: #242424;
}

.worker-container {
  width: 100%;
  height: 100%;
}

.worker-info {
  width: 30%;
}

.worker-picture{
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}